<template name="cainfo">
  <div class="container-fluid">
    <h2>This is the cainfo template</h2>
  </div>
  <div class="container">
    <button id="button_createca" class="btn btn-success {{#if metadata.cn}}disabled hidden{{/if}}">Create CA</button>
    <!--<button class="btn btn-success disabled">Download CRL</button>-->
  </div>

  {{#if metadata.cn}}
  <div id="cainfo_table" class="container">

    <h2>CA Information</h2>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Common Name</td>
          <td>{{ metadata.cn }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ metadata.email }}</td>
        </tr>
        <tr>
          <td>Locale Name</td>
          <td>{{ metadata.localename }}</td>
        </tr>
        <tr>
          <td>Organization</td>
          <td>{{ metadata.orgname }}</td>
        </tr>
        <tr>
          <td>State</td>
          <td>{{ metadata.state }}</td>
        </tr>
        <tr>
          <td>Country</td>
          <td>{{ metadata.country }}</td>
        </tr>
        <tr>
          <td>Created</td>
          <td>{{ createdAt }}</td>
        </tr>
        <tr>
          <td>Expires</td>
          <td>{{ metadata.expires }}</td>
        </tr>
      </tbody>
    </table>

    <a href="{{this.url download=true}}" class="btn btn-success">Download Certificate</a>
    <button class='btn btn-danger disabled'>Delete CA</button>
  </div>
  {{/if}}
</template>
