<template name="showca">

  <div class="container">

    <h2>CA Information</h2>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Common Name</td>
          <td>testca</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>test@test.com</td>
        </tr>
        <tr>
          <td>Locale Name</td>
          <td>Maryland</td>
        </tr>
        <tr>
          <td>Organization</td>
          <td>mynet</td>
        </tr>
        <tr>
          <td>State</td>
          <td>Maryland</td>
        </tr>
        <tr>
          <td>Country</td>
          <td>US</td>
        </tr>
      </tbody>
    </table>
  </div>

</template>
