<template name="showca">
<div id="cainfo_table" class="container">
  <h2>CA Information</h2>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>Common Name</td>
        <td>{{ cn }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ email }}</td>
      </tr>
      <tr>
        <td>Locale Name</td>
        <td>{{ localename }}</td>
      </tr>
      <tr>
        <td>Organization</td>
        <td>{{ orgname }}</td>
      </tr>
      <tr>
        <td>State</td>
        <td>{{ state }}</td>
      </tr>
      <tr>
        <td>Country</td>
        <td>{{ country }}</td>
      </tr>
      <tr>
        <td>Created</td>
        <td>{{ toMomentTFN created }}</td>
      </tr>
      <tr>
        <td>Expires</td>
        <td>{{ toMomentTFN expires }}</td>
      </tr>
      <tr>
        <td>Created by</td>
        <td>{{ username }}</td>
      </tr>
    </tbody>
  </table>

  <button disabled="disabled" class="btn btn-success button_download_ca_crt">Download Cert</button>
  <button disabled="disabled" class="btn btn-success button_download_ca_crl">Download CRL</button>
  <button disabled="disabled" class='btn btn-danger'>Delete</button>

  {{> newkeypair }}

  <h2>Keypairs</h2>

  {{> keypairlist }}

</div>
</template>
