<template name="showkeypairs">
  <div class="container">

    <h2>Keypairs</h2>

    <button class="btn btn-success">Create New Keypair</button>

    {{#if cainfo.cn}}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Common Name</th>
          <th>Created</th>
          <th>Expires</th>
          <th>Operations</th>
        </tr>
      </thead>

      <tbody>
        {{#each keypairs}}
          <tr>
            {{> keypairinfo}}
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{/if}}

  </div>
</template>
