<template name="creatingca">
  <h2>This is the creating ca template.</h2>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Creating Certificate Authority</h3>
    </div>
    <div id="creatingca-panel-content" class="panel-body">
      <img src="/img/loading-3.gif" alt="Loading">
      <p class="hidden">No data yet...</p>
      <div id="creatingca-panel-dynamic-content"></div>
      <button class="btn btn-success hidden">Contiune</button>
    </div>
  </div>

</template>
