<template name="ca">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{ cn }}">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ cn }}" aria-expanded="false" aria-controls="collapse{{ cn }}">
          <h1>{{ cn }}<button type="button" class="btn btn-info ca-info-button pull-right">Info</button></h1>
        </a>
      </h4>
    </div>
    <div id="collapse{{ cn }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ cn }}">
      <div class="panel-body">
        {{> newkeypair }}
        {{> keypairlist }}
      </div>
    </div>
  </div>
</template>
